<div class="main-container">
    <div id="grid-container">
        <div class="up-container">
            <div id="box1">
                <div>
                    <img src="./assets/Logo_Consultec.png" width="140px" height="50px">
                </div>
                <div>
                    <h2 id="aside-text">Te damos la bienvenida al portal Personal Banking</h2>
                </div>
                <div>
                    <p id="aside-text-down">¿Eres nuevo en el banco?</p>
                    <a id="create-key-text" href="#">Crea tu clave</a>
                </div>
            </div>
            <div id="box2">
                <div>
                    <p id="aside-text-up-box2">¿Aún no tienes una cuenta?</p>
                    <a id="register-now" href="#">Registrate ahora</a>
                </div>
            </div>
        </div>
        <div>
            caja 2
        </div>
    </div>
</div>  
