.up-container {
    display: grid;
    grid-template-rows: 80% 20%;
    height: 100%;
 }
 
 #box1 {
     background-color: #00ABEB;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     gap: 4px;
 }
 
 #aside-text {
     width: 220px;
     color: white;
     font-size: 1.70em;
     font-weight: bold;
     text-align: center;
 }
 
 #down-container{
     background-color: black;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 
 #aside-text-down{
     text-align: center;
     color: white;
     font-size: 14px;
     margin-top: 4px;
 }
 
 #create-key-text {
     font-size: 14px;
     text-decoration: none;
     color: black;
 }
 
 #aside-text-up-box2{
     color: white;
     text-align: center;
     font-size: 16px;
     margin-top: 8px;
 }
 
 #register-now{
     color: #00ABEB;
     text-decoration: none;
     text-align: center;
 }